body{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(185, 162, 162))
}



h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.inputTxt{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: gray;
}

input{
    border-radius: 6px;
    box-shadow: 5px 5px 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 600;
    color: black;
    margin: 7px;
    border: none;
}

button{
    border-radius: 6px;
    box-shadow: 5px 5px 6px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 600;
    height: 40px;
    color: aliceblue;
    background-color: black;
    margin: 7px;
    transition: 1s;
    border: none;
    width: 70px;
}


button:hover{
    color: black;
    background-color: aliceblue;
    transition-duration: 0.5s;
}

.container-all{
    display: grid;
    justify-content: center;
    margin-top: 40px;
}

#avatar{
    width: 200px;
    margin-left: 12px;
    border-radius: 100px;
}